/* Header.css */
.header {
    background: #181818; /* Donkergrijze achtergrond */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 40px; /* Pas dit aan op basis van je logo */
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 15px;
  }
  
  .nav-list li {
    margin: 0 10px;
  }
  
  .nav-list a {
    text-decoration: none;
    background: #292929; /* Donkergrijze knoppen */
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .nav-list a:hover {
    background: #3a3a3a;
    color: #ffffff;
  }
  